@model DateTime?


<div>
    @Html.TextBoxFor(e => e, new { @class = "form-control datepicker", autocomplete="off" })
</div>

<script type="text/javascript">
    $(function () {
        $('.datepicker').datepicker({
            format: "dd.mm.yyyy",
            language: 'tr'

        });
    });
</script>

