@model  _036_MoviesMvcWissen.Models.ReportMoviesViewModel

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<div id="divMovies">
    @Html.Partial("_Movies",Model)

</div>

@{
    var ajaxOptions = new AjaxOptions()
    {
        AllowCache = false,
        Url = Url.Action("GetMovies", "Reports"),
        HttpMethod = "GET",
        UpdateTargetId = "divMovies",
        InsertionMode = InsertionMode.Replace
    };
}

@using (Ajax.BeginForm(null, null, ajaxOptions, new { id = "fMovies" }))
{
    <div class="row">
        <div class="col-sm-10">
        </div>
        <div class="col-sm-2">
            @Html.DropDownList("PageNumber", @Model.PageNumbers, new { @class = "form-control-lg dropdown", id = "ddlPageMovie" })
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $("#ddlPageMovie").change(function () {
            $("#fMovies").submit();
        });
    })
</script>




@section ajaxSecript{

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}
