@model Movie
@{
    ViewBag.Title = "Movie Details";
    var movieDirectors = Model.MovieDirectors;
    var directorFullNames = "";

    foreach (var movieDirector in movieDirectors)
    {
        directorFullNames += movieDirector.Director.Name + " " + movieDirector.Director.Surname + ", ";
    }
    directorFullNames = directorFullNames.Trim(',',' ');
}

<h2>@ViewBag.Title</h2>

@*@Html.Partial("_Details", Model)*@


@{
    ViewBag.DirectorNames = directorFullNames;
    Html.RenderPartial("_Details", Model);
}
<br />
@Html.ActionLink(" ", "Index", new { }, new { @class = "fa fa-angle-left btn btn-danger" })
