@model _036_MoviesMvcWissen.Models.Demos.Templates.PersonModel

@{
    ViewBag.Title = "AddPersonAjaxSil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddPersonAjaxSil</h2>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
